<form action="/login" method="post">
  username: <input type="text" name="username" size="32" value="" />
  <br>
  password: <input type="text" name="password" size="32" value="" />
  <br>
  <input type="submit" value="Login" />
</form>
