<form method="POST" action="/test">
  <input type="text" size="30" name="firstname" /> <br>
  <input type="text" size="30" name="lastname" />  <br>
  <input type="checkbox" name="flavor" value=" Chocolate"> Chococlate <br>
  <input type="checkbox" name="flavor" value=" Vanilla"> Vanilla <br>
  <input type="checkbox" name="flavor" value=" Strawberry"> Strawberry <br> <br>
  <input type="radio" name="size" value="Small"> Small <br>
  <input type="radio" name="size" value="Medium"> Medium <br>
  <input type="radio" name="size" value="Large"> Large <br> <br>
  <input type="submit" value="Submit" />
</form>
